
.productGrid{
  display: flex;
  flex-wrap: wrap;
}

.mainHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1b7f7;
  padding: 20px;
}
h1{
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}