/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.7rem 2rem ;
  background-color: #33333386;
  color: #fff;
  position: sticky;
  top: 0;
  right: 0;
  backdrop-filter: blur(5px);
}

.logo img {
  height: 50px;
  /* Adjust size as needed */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 1rem;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.actions {
  display: flex;
  align-items: center;
}

.loginButton {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
}

.cartContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButton {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: .1rem .4rem;
  font-size: 10px;
}
.userOptions{
  display: flex;
  align-items: center;
  justify-content: center;
}